@model HalcyonAttendance.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}
<center>
    <h1>Welcome to Halcyon IT Solution</h1>

    <h4>Add a new Employee here</h4>
</center>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEmail" class="control-label"></label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPassword" class="control-label"></label>
                <input asp-for="EmpPassword" class="form-control" />
                <span asp-validation-for="EmpPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhone" class="control-label"></label>
                <input asp-for="EmpPhone" class="form-control" />
                <span asp-validation-for="EmpPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPosition" class="control-label"></label>
                <input asp-for="EmpPosition" class="form-control" />
                <span asp-validation-for="EmpPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpImage" class="control-label"></label>
                <input asp-for="EmpImage" class="form-control" />
                <span asp-validation-for="EmpImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAllEmp">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function() {
             var alertdup = '@TempData["DupliEmp"]';
            if (alertdup != '') {
                var va= "@TempData["errordup"]";
                swal("Failed", va, "warning");
            }
        })
    </script>
}
